<div class="question-form-container">
	<h3>Ask a Question</h3>
	<div class="question-title">
		<label>Title</label>
		<input type="text" id="questionTitle" placeholder="Enter title">
	</div>
	<div class="question-content">
		<label>Question</label>
		<textarea autocomplete="new-password" id="questionContent" name="content" placeholder="Enter question" cols="100" rows="5" charswidth = "140"></textarea>
	</div>
	<button id="askQuestionBtn" data-incident="{{ data.incident.id }}">Ask Question</button>
</div>