<div class="irms-container requests-container">
	<div class="requests-header">
		<div class="irms-title irms-inline-container">
			<h2>Your Requests</h2>
			<div class="request-types">
				<div class="tab team-assignments-tab selected-tab">
					<p>Team Assignments</p>
				</div>
				<div class="tab priority-changes-tab">
					<p>Priority Changes</p>
				</div>
			</div>
		</div>
		<div class="checkbox-container irms-inline-container">
			<label>Unresolved</label>
			<input type="checkbox" name="unresolved">
		</div>
	</div>
	<div class="request-item">
		<div class="request-title irms-inline-container">
			<h4>Networking Team</h4>
			<p>→</p>
			<h4>Incident #001 | Payroll Server #04 Crashed</h4>
			<div class="incident-tag pending-tag">
				<p>Pending Review</p>
			</div>
		</div>
		<div class="tags">
			<div class="incident-tag resolving-tag">
				<p>Resolving</p>
			</div>
			<div class="incident-tag date-tag">
				<p>28/05/2020 16:53</p>
			</div>
		</div>
	</div>
	<div class="request-item">
		<div class="request-title irms-inline-container">
			<h4>Networking Team</h4>
			<p>→</p>
			<h4>Incident #001 | Payroll Server #04 Crashed</h4>
			<div class="incident-tag pending-tag">
				<p>Pending Review</p>
			</div>
		</div>
		<div class="tags">
			<div class="incident-tag resolving-tag">
				<p>Resolving</p>
			</div>
			<div class="incident-tag date-tag">
				<p>28/05/2020 16:53</p>
			</div>
		</div>
	</div>
	<div class="request-item">
		<div class="request-title irms-inline-container">
			<h4>Networking Team</h4>
			<p>→</p>
			<h4>Incident #001 | Payroll Server #04 Crashed</h4>
			<div class="incident-tag pending-tag">
				<p>Pending Review</p>
			</div>
		</div>
		<div class="tags">
			<div class="incident-tag resolving-tag">
				<p>Resolving</p>
			</div>
			<div class="incident-tag date-tag">
				<p>28/05/2020 16:53</p>
			</div>
		</div>
	</div>
	<div class="request-item">
		<div class="request-title irms-inline-container">
			<h4>Networking Team</h4>
			<p>→</p>
			<h4>Incident #001 | Payroll Server #04 Crashed</h4>
			<div class="incident-tag pending-tag">
				<p>Pending Review</p>
			</div>
		</div>
		<div class="tags">
			<div class="incident-tag resolving-tag">
				<p>Resolving</p>
			</div>
			<div class="incident-tag date-tag">
				<p>28/05/2020 16:53</p>
			</div>
		</div>
	</div>
</div>