<div class="irms-container incidents-container">
	<div class="incidents-header">
		<div class="irms-title">
			<h2>Active Incidents</h2>
		</div>
		<div class="sort-options">
			<div class="sort-incident sort-impact sort-by">
				<p>Impact ▼</p>
			</div>
			<div class="sort-incident sort-priority">
				<p>Priority ▼</p>
			</div>
			<div class="sort-incident sort-date">
				<p>Date ▼</p>
			</div>
		</div>
	</div>
	<div class="incident-item">
		<h3>Incident #001 | Payroll Server #04 Crashed</h2>
		<div class="tags">
			<div class="incident-tag impact-1-tag">
				<p>IMP1</p>
			</div>
			<div class="incident-tag priority-1-tag">
				<p>P1</p>
			</div>
			<div class="incident-tag date-tag">
				<p>28/05/2020 16:53</p>
			</div>
		</div>
	</div>
	<div class="incident-item">
		<h3>Incident #001 | Payroll Server #04 Crashed</h2>
		<div class="tags">
			<div class="incident-tag impact-1-tag">
				<p>IMP1</p>
			</div>
			<div class="incident-tag priority-1-tag">
				<p>P1</p>
			</div>
			<div class="incident-tag date-tag">
				<p>28/05/2020 16:53</p>
			</div>
		</div>
	</div>
	<div class="incident-item">
		<h3>Incident #001 | Payroll Server #04 Crashed</h2>
		<div class="tags">
			<div class="incident-tag impact-1-tag">
				<p>IMP1</p>
			</div>
			<div class="incident-tag priority-1-tag">
				<p>P1</p>
			</div>
			<div class="incident-tag date-tag">
				<p>28/05/2020 16:53</p>
			</div>
		</div>
	</div>
	<div class="incident-item">
		<h3>Incident #001 | Payroll Server #04 Crashed</h2>
		<div class="tags">
			<div class="incident-tag impact-1-tag">
				<p>IMP1</p>
			</div>
			<div class="incident-tag priority-1-tag">
				<p>P1</p>
			</div>
			<div class="incident-tag date-tag">
				<p>28/05/2020 16:53</p>
			</div>
		</div>
	</div>
</div>