<div class="irms-container incidents-container">
	<div class="incidents-header">
		<div class="irms-title">
			<h2>{{ data.pageTitle }}</h2>
		</div>
		<div class="irms-inline-container">
			<div class="checkbox-container irms-inline-container">
				<label>Active</label>
				<input type="checkbox" name="active">
			</div>
			<div class="sort-options">
				<div class="sort-incident sort-impact sort-by">
					<p>Impact ▼</p>
				</div>
				<div class="sort-incident sort-priority">
					<p>Priority ▼</p>
				</div>
				<div class="sort-incident sort-date">
					<p>Date ▼</p>
				</div>
			</div>
		</div>
	</div>
	{% if data.incidentsLength == 0 %}
		<div class="incident-item no-incidents">
			<p>No incidents.</p>
		</div>
	{% else %}
		{% for i in range(0, data.incidentsLength) %}
			<div class="incident-item" data-incident="{{ data.incidents[i].id }}">
				<h3>Incident #{{ data.incidents[i].id }} | {{ data.incidents[i].title }}</h2>
				<div class="tags">
					<div class="incident-tag follow">
							<p class="follow-text">
								{% if data.incidents[i].is_following(data.user) %} 
									Following
								{% else %}
									Follow
								{% endif %}
							</p>
					</div>
					<div class="incident-tag impact-1-tag">
						<p>{{ data.incidents[i].impact.level }}</p>
					</div>
					<div class="incident-tag priority-1-tag">
						<p>{{ data.incidents[i].priority.code }}</p>
					</div>
					<div class="incident-tag date-tag">
						<p>{{ data.incidents[i].date_created }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}
</div>