<div class="irms-container login-container">
	<div class="irms-header">
		<h2 class="irms-header-title">IRMS</h2>
		<h2>Log In</h2>
	</div>
	<div class="irms-body">
		<div class="form-entry">
			<label>Username: </label>
			<input type="text" name="username" placeholder="Enter username">
		</div>
		<div class="form-entry">
			<label>Password: </label>
			<input type="password" name="password" placeholder="Enter password">
		</div>
		<div class="irms-button-container">
			<button>Log In</button>
		</div>
	</div>
</div>