<div class="navbar">
    <div class="navbar-body">
        <div class="navbar-title">
            <h3>IRMS</h3>
        </div>
        <div class="navbar-login">
            <p>Logged in: <span>{{ data.user.forename }} {{ data.user.surname }}</span></p>
            <p>Role: <span>{{ data.user.role.name }}</span></p>
        </div>
        {% if data.user.role.name == 'Major Incident Manager' %}
        <div class="navbar-admin">
            <p>Mode: </p>
            <div class="irms-inline-container">
                <button id="userModeBtn">User</button>
                <button id="managerModeBtn" class="selected">Manager</button>
            </div>
        </div>
        {% endif %}
        <div class="navbar-items">
            <ul>
                {% include 'manager_navbar.html' %}
            </ul>
        </div>
    </div>
    <div class="navbar-footer">
        <p><a href="https://github.com/jaymsDooku/IRMS">GitHub</a> | Cuddle Of Pandas 2020 for BE SAD 😢</p>
    </div>
</div>