<aside class="sidebar">
    <div class="sidebar-header" align="left">
        <h1 id="sidebar-h1">Notifications</h1>
    </div>
    <div class="sidebar-body">
        <hr>
        <div class="note-box">
            <div class="note-date-time" align="left">
                <h6>2020, March 31, Monday, 12:00</h6>
                <div class="note-content">
                This contains notification content.
                This contains notification content.
                This contains notification content.
                </div>
            </div>
        </div>
        <hr>

    </div>
    
</aside>