<hr>
{% if data.notificationsLength is defined %}
    {% for i in range(0, data.notificationsLength) %}
        <div class="notification-box">
            <div class="notification-date-time" align="left">
                <div class="notification-title">
                    <h6>{{ data.notifications[i].date_notified }}</h6>
                    <h6 class="notification">{{ data.notifications[i].notification.incident.title }}</h6>
                </div>
                <div class="notification-content">
                    {{ data.notifications[i].notification.content }}
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endif %}