<div class="irms-container raise-incident-container">
	<div class="irms-header">
		<h2>Raise Incident</h2>
	</div>
	<div class="irms-body">
		<div class="left-body">
			<div class="form-entry">
				<label>Title: </label>
				<input autocomplete="new-password" id="incidentTitle" type="text" name="title" placeholder="Enter title">
			</div>
			<div class="form-entry">
				<label>Description: </label>
				<textarea autocomplete="new-password" id="incidentDescription" name="description" placeholder="Enter description" cols="8" rows="5"></textarea>
			</div>
			<div class="form-entry">
				<label>SLA Identification Deadline: </label>
				<input id="incidentIdentification" type="datetime-local" name="identification-deadline"/>
			</div>
			<div class="form-entry">
				<label>SLA Implementation Deadline: </label>
				<input id="incidentImplementation" type="datetime-local" name="resolution-deadline"/>
			</div>
			{% if data.user.role.name == 'Service Desk' %}
				<div class="form-entry">
					<label>On Behalf: </label>
					<div class="autocomplete">
						<input autocomplete="new-password" id="incidentOnBehalf" type="text" name="title" placeholder="Enter on behalf user" value="No One">
					</div>
				</div>
			{% endif %}
		</div>
		<div class="right-body">
			<div class="form-entries">
				<div class="form-entry">
					<label>Impact: </label>
					<select id="impactSelect" name="impact">
						{% for i in range(0, data.impactsLength) %}
							<option>{{ data.impacts[i].level }} </option>
						{% endfor %}
					</select>
				</div>
				<div class="form-entry">
					<label>Severity: </label>
					<select id="severitySelect" name="severity">
						{% for i in range(0, data.severitiesLength) %}
							<option>{{ data.severities[i].code }} </option>
						{% endfor %}
					</select>
				</div>
				<div class="form-entry">
					<label>System: </label>
					<select id="systemSelect" name="system">
						{% for i in range(0, data.systemClassesLength) %}
							<option>{{ data.system_classes[i].name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="noticeable-entry">
					<div class="form-entry">
						<label>Priority: </label>
						<select id="prioritySelect" name="priority">
							{% for i in range(0, data.prioritiesLength) %}
								<option>{{ data.priorities[i].code }}</option>
							{% endfor %}
						</select>
					</div>
					<p class="notice">The priority may be changed by the Incident Response Team.</p>
				</div>
				<div class="noticeable-entry">
					<div class="form-entry">
						<label>Department: </label>
						<select id="departmentSelect" name="department">
							{% for i in range(0, data.departmentsLength) %}
								<option>{{ data.departments[i].name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-entry">
						<label>Assigned Team: </label>
						<select id="teamSelect" name="team">
							{% for i in range(0, data.teamsLength) %}
								<option data-team="{{ data.teams[i].id }}">{{ data.teams[i].name }}</option>
							{% endfor %}
						</select>
					</div>
					<p class="notice">The assigned team may be changed by the Incident Response Team.</p>
				</div>
			</div>
			<div class="irms-button-container">
				<button id="submitIncidentBtn">Submit Incident</button>
			</div>
		</div>
	</div>
</div>