<div class="incident-stats irms-inline-container">
	<div class="incident-system-container">
		<div class="incident-system irms-inline-container">
			<div class="irms-header">
				<p>System: </p>
			</div>
			<div class="irms-text">
				<p>{{ data.incident.system.name }}</p>
			</div>
		</div>
	</div>
	<div class="incident-sla-identification-container">
		<div class="incident-sla-identification irms-inline-container">
			<div class="irms-header">
				<p>SLA Identification Deadline: </p>
			</div>
			<div class="irms-text">
				<p>{{ data.incident.sla_identification_deadline }}</p>
			</div>
		</div>
	</div>
	<div class="incident-sla-implementation-container">
		<div class="incident-sla-implementation irms-inline-container">
			<div class="irms-header">
				<p>SLA Resolution Deadline: </p>
			</div>
			<div class="irms-text">
				<p>{{ data.incident.sla_implementation_deadline }}</p>
			</div>
		</div>
	</div>
</div>
<div class="incident-stats irms-inline-container">
	<div class="incident-system-container">
		<div class="incident-system irms-inline-container">
		</div>
	</div>
	<div class="incident-sla-identification-container">
		<div class="incident-sla-identification irms-inline-container">
			<div class="irms-header">
				<p>SLA Identification Time Left: </p>
			</div>
			<div class="irms-text">
				<p>{{ data.incident.get_sla_identification_time_left() }}</p>
			</div>
		</div>
	</div>
	<div class="incident-sla-implementation-container">
		<div class="incident-sla-implementation irms-inline-container">
			<div class="irms-header">
				<p>SLA Resolution Time Left: </p>
			</div>
			<div class="irms-text">
				<p>{{ data.incident.get_sla_implementation_time_left() }}</p>
			</div>
		</div>
	</div>
</div>