<div class="irms-container view-incident-container">
	<div class="irms-header">
		<div class="irms-header-actions">
			<div></div>
			<div class="irms-inline-container">
				<div class="incident-tag export-csv">
					<p>Export CSV</p>
				</div>
				<div class="incident-tag follow">
					<p>Follow</p>
				</div>
			</div>
		</div>
		{% include 'view_incident_title.html' %}
	</div>
	<hr/>
	<div class="irms-body">
		{% include 'view_incident_stats.html' %}
		<div class="incident-description">
			<div class="irms-header">
				<p>Description: </p>
			</div>
			<div class="irms-text">
				<p>{{ data.incident.description }}</p>
			</div>
		</div>
		<hr/>
		{% include 'view_incident_assigned_teams.html' %}
		<hr>
		{% include 'list_notes.html' %}
		{% include 'list_questions.html' %}
		{% include 'list_tasks.html' %}
	</div>
	<div id="overlay">
		<div id="overlay-body">
			{% include 'request_justification.html' %}
			{% include 'add_note.html' %}
			{% include 'ask_question.html' %}
			{% include 'add_task.html' %}
			<div class="overlay-view-container">
			</div>
		</div>
	</div>
</div>