<div class="incident-stats irms-inline-container">
	<div class="incident-system-container">
		<div class="incident-system irms-inline-container">
			<div class="irms-header">
				<p>System: </p>
			</div>
			<div class="irms-text">
				<p>{{ data.incident.system.name }}</p>
			</div>
		</div>
	</div>
	<div class="incident-sla-identification-container">
		<div class="incident-sla-identification irms-inline-container">
			<div class="irms-header">
				<p>SLA Identification Deadline: </p>
			</div>
			<div class="irms-text">
				<p>{{ data.incident.sla_identification_deadline }}</p>
			</div>
		</div>
	</div>
	<div class="incident-sla-implementation-container">
		<div class="incident-sla-implementation irms-inline-container">
			<div class="irms-header">
				<p>SLA Resolution Deadline: </p>
			</div>
			<div class="irms-text">
				<p>{{ data.incident.sla_implementation_deadline }}</p>
			</div>
		</div>
	</div>
</div>
<div class="incident-stats irms-inline-container">
	<div class="incident-system-container">
		<div class="incident-system irms-inline-container">
		</div>
	</div>
	<div class="incident-sla-identification-container">
		<div class="incident-sla-identification irms-inline-container">
			<div class="irms-header">
				<p>SLA Identification Time Left: </p>
			</div>
			<div class="irms-text">
				<p>{{ data.incident.get_sla_identification_time_left() }}</p>
			</div>
		</div>
	</div>
	<div class="incident-sla-implementation-container">
		<div class="incident-sla-implementation irms-inline-container">
			<div class="irms-header">
				<p>SLA Resolution Time Left: </p>
			</div>
			<div class="irms-text">
				<p>{{ data.incident.get_sla_implementation_time_left() }}</p>
			</div>
		</div>
	</div>
</div>
<div class="incident-stats irms-inline-container">
	<div class="incident-system-container">
		<div class="incident-system irms-inline-container">
		</div>
	</div>
	<div class="incident-sla-identification-container">
		<div class="incident-sla-identification irms-inline-container">
			{% if data.incident.status.level == "Identifying Resolution" %}
				{% if data.user.has_identified_access() %}
					<div class="incident-tag identifying-tag" data-incident="{{ data.incident.id }}" id="identifiedBtn">
						<p>Identified Resolution</p>
					</div>
				{% endif %}
			{% else %}
				<div class="irms-header">
					<p>Date Identified: </p>
				</div>
				<div class="irms-text">
					<p>{{ data.incident.date_identified }}</p>
				</div>
			{% endif %}
		</div>
	</div>
	<div class="incident-sla-implementation-container">
		<div class="incident-sla-implementation irms-inline-container">
			{% if data.incident.status.level != "Resolved" %}
				{% if data.user.has_implemented_access() %}
					<div class="incident-tag resolved-tag" data-incident="{{ data.incident.id }}" id="implementedBtn">
						<p>Implemented Resolution</p>
					</div>
				{% endif %}
			{% else %}
				<div class="irms-header">
					<p>Date Implemented: </p>
				</div>
				<div class="irms-text">
					<p>{{ data.incident.date_implemented }}</p>
				</div>
			{% endif %}
		</div>
	</div>
</div>