<div class="irms-container view-incident-container">
	<div class="irms-header">
		<div class="irms-header-actions">
			<div></div>
			<div class="incident-tag follow">
				<p>Follow</p>
			</div>
		</div>
		<div class="irms-title">
			<div class="irms-title-left">
				<div class="incident-title irms-inline-container">
					<h2>Incident #001 | Payroll Server #04 Crashed</h2>
					<div class="incident-tag impact-1-tag">
						<p>IMP1</p>
					</div>
					<div class="incident-tag priority-1-tag">
						<select name="priority">
							<option>P1</option>
							<option>P2</option>
							<option>P3</option>
							<option>S1</option>
							<option>S2</option>
							<option>S3</option>
						</select>
						<span class="pending">*</span>
					</div>
				</div>
				<div class="incident-issuer">
					<h5>Issued By: Ronald McDonald</h5>
				</div>
			</div>
			<div class="irms-title-right irms-inline-container">
				<div class="incident-tag resolving-tag">
					<p>Resolving</p>
				</div>
				<div class="creation-date irms-inline-container">
					<h5>Created: </h5>
					<div class="irms-text">
						<p>28/05/2020 12:56</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr/>
	<div class="irms-body">
		<div class="incident-stats irms-inline-container">
			<div class="incident-system-container">
				<div class="incident-system irms-inline-container">
					<div class="irms-header">
						<p>System: </p>
					</div>
					<div class="irms-text">
						<p>Payroll system</p>
					</div>
				</div>
			</div>
			<div class="incident-sla-identification-container">
				<div class="incident-sla-identification irms-inline-container">
					<div class="irms-header">
						<p>SLA Identification Deadline: </p>
					</div>
					<div class="irms-text">
						<p>28/05/2020 13:12</p>
					</div>
				</div>
			</div>
			<div class="incident-sla-implementation-container">
				<div class="incident-sla-implementation irms-inline-container">
					<div class="irms-header">
						<p>SLA Resolution Deadline: </p>
					</div>
					<div class="irms-text">
						<p>30/05/2020 13:12</p>
					</div>
				</div>
			</div>
		</div>
		<div class="incident-description">
			<div class="irms-header">
				<p>Description: </p>
			</div>
			<div class="irms-text">
				<p>Server number 4 for the payroll system crashed due to an OutOfMemoryException. It is suspected that this is due to the new release from the Internal Software Development Team</p>
			</div>
		</div>
		<hr/>
		<div class="incident-assigned">
			<div class="incident-manager irms-inline-container">
				<div class="irms-header">
					<p>Team Manager: </p>
				</div>
				<div class="irms-text">
					<p>Ronald McDonald</p>
				</div>
			</div>
			<div class="incident-teams">
				<div class="irms-header">
					<h3>Teams Assigned</h3>
				</div>
				<table>
					<tbody>
		                <tr>
		                    <th class="team-name">Team Name</th>
		                    <th>Date Assigned</th>
		                    <th>Assigned By</th>
		                    <th>Status</th>
		                </tr>
		                <tr>
		                	<td class="team-name">Networking</td>
		                	<td>28/05/20 14:16</td>
		                	<td>Ronald McDonald</td>
		                	<td>Pending Review</td>
		                </tr>
		                <tr>
		                	<td class="team-name">Maintenance</td>
		                	<td>28/05/20 14:16</td>
		                	<td>Ronald McDonald</td>
		                	<td>Confirmed</td>
		                </tr>
		            </tbody>
				</table>
				<div class="assign-team-container">
					<h4>Assign New Team</h4>
					<div class="assign-team">
						<div class="assign-team-fields">
							<div class="irms-inline-container">
								<label>Team: </label>
								<select name="team-name">
									<option>Networking</option>
									<option>Maintenance</option>
								</select>
							</div>
						</div>
						<img class="new-btn assign-team-btn" src="{{ url_for('static', filename='img/new icon.svg') }}">
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="incident-notes">
			<div class="irms-header">
				<h3>Notes</h3>
			</div>
			<div class="irms-body">
				<div class="incident-note">
					<div class="irms-header">
						<h3>This is a note.</h3>		
					</div>
					<div class="irms-body">
						<p>The cause of the crash of the payroll system was an OutOfMemoryException.</p>
					</div>
				</div>
				<div class="incident-note">
					<div class="irms-header">
						<h3>This is a note.</h3>		
					</div>
					<div class="irms-body">
						<p>The cause of the crash of the payroll system was an OutOfMemoryException.</p>
					</div>
				</div>
				<div class="incident-note">
					<div class="irms-header">
						<h3>This is a note.</h3>		
					</div>
					<div class="irms-body">
						<p>The cause of the crash of the payroll system was an OutOfMemoryException.</p>
					</div>
				</div>
				<div class="incident-note add-incident-note">
					<img class="new-btn new-note-btn" src="{{ url_for('static', filename='img/new icon.svg') }}">
				</div>
			</div>
		</div>
		<div class="incident-questions">
			<div class="irms-header">
				<h3>Questions</h3>
			</div>
			<div class="irms-body">
				<div class="incident-question">
					<div class="irms-header">
						<h3>What is wrong with the system?</h3>
					</div>
					<div class="irms-body">
						<p>So stuff is wrong with the system, why is that?</p>
					</div>
				</div>
				<div class="incident-question">
					<div class="irms-header">
						<h3>What is wrong with you?</h3>		
					</div>
					<div class="irms-body">
						<p>So stuff is wrong with you, why is that?</p>
					</div>
				</div>
				<div class="incident-question">
					<div class="irms-header">
						<h3>What is wrong with me?</h3>		
					</div>
					<div class="irms-body">
						<p>So stuff is wrong with me, why is that?</p>
					</div>
				</div>
				<div class="incident-question add-incident-question">
					<img class="new-btn new-question-btn" src="{{ url_for('static', filename='img/new icon.svg') }}">
				</div>
			</div>
		</div>
		<div class="incident-tasks">
			<div class="irms-header">
				<h3>Tasks</h3>
			</div>
			<div class="irms-body">
				<div class="incident-task">
					<div class="incident-task-meta">
						<h5>Assigned Teams</h5>
						<div class="teams-assigned irms-inline-container">
							<div class="incident-tag">
								<p>Networking</p>
							</div>
							<div class="incident-tag">
								<p>Networking</p>
							</div>
							<div class="incident-tag">
								<p>Networking</p>
							</div>
							<div class="incident-tag">
								<p>Networking</p>
							</div>
							<div class="incident-tag">
								<p>Networking</p>
							</div>
						</div>
					</div>
					<div class="incident-task-body">
						<div class="irms-header">
							<h3>We need to do things</h3>
						</div>
						<div class="irms-body">
							<p>Things need to be done, so let's do those things</p>
						</div>
					</div>
				</div>
				<div class="incident-task">
					<div class="incident-task-meta">
						<h5>Assigned Teams</h5>
						<div class="teams-assigned irms-inline-container">
							<div class="incident-tag">
								<p>Networking</p>
							</div>
							<div class="incident-tag">
								<p>Networking</p>
							</div>
							<div class="incident-tag">
								<p>Networking</p>
							</div>
							<div class="incident-tag">
								<p>Networking</p>
							</div>
							<div class="incident-tag">
								<p>Networking</p>
							</div>
						</div>
					</div>
					<div class="incident-task-body">
						<div class="irms-header">
							<h3>We need to do things</h3>
						</div>
						<div class="irms-body">
							<p>Things need to be done, so let's do those things</p>
						</div>
					</div>
				</div>
				<div class="incident-task">
					<div class="incident-task-meta">
						<h5>Assigned Teams</h5>
						<div class="teams-assigned irms-inline-container">
							<div class="incident-tag">
								<p>Networking</p>
							</div>
							<div class="incident-tag">
								<p>Networking</p>
							</div>
							<div class="incident-tag">
								<p>Networking</p>
							</div>
							<div class="incident-tag">
								<p>Networking</p>
							</div>
							<div class="incident-tag">
								<p>Networking</p>
							</div>
						</div>
					</div>
					<div class="incident-task-body">
						<div class="irms-header">
							<h3>We need to do things</h3>
						</div>
						<div class="irms-body">
							<p>Things need to be done, so let's do those things</p>
						</div>
					</div>
				</div>
			</div>
			<div class="add-incident-task-container">
				<img class="new-btn new-task-btn" src="{{ url_for('static', filename='img/new icon.svg') }}">
			</div>
		</div>
	</div>
</div>