.login-container .irms-body {
	flex-direction: column;
	text-align: center;
}

.login-container .irms-body > * {
	display: inline-block;
	margin: 0 auto;
}

.login-container .form-entry {
	margin-bottom: 20px;
}

.login-container .irms-body .login-error {
	display: none;
	color: red;
	margin-bottom: 20px;
}