.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    background-color: #051e34;
    transition: 0.5s;
}

.container {
    transition: margin-right 0.5s;
}

#sidebar-h1 {
    padding: 10px;
}

.sidebar-header {
    width: 100%;
}

.notification-date-time{
    margin-top: 5px;
}

.notification-content{
    margin-top: 10px;
    text-align: left;
}