#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

#overlay-body {
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	transform: translate(-50%, -50%);
	z-index: 3;
}

.request-justification-container {
	background-color: white;
	color: black;
	border-radius: 5px;
	border: 2px solid black;
	padding: 15px;
}

.task-form-container > *, .question-form-container > *, .note-form-container > *, .request-justification {
	display: flex;
	flex-direction: column;
}

.request-justification label {
	font-size: 20px;
	font-weight: bold;
}

.request-justification textarea {
	margin: 10px 0;
	border: 1px solid black;
}

.task-form-container, .question-form-container, .note-form-container {
	padding: 15px;
	border-radius: 5px;
}

.note-form-container {
	background-color: #32ad67;
}

.task-content, .question-content, .note-content {
	margin: 10px 0;
}

.question-form-container {
	background-color: #edbb55;
}

.task-form-container {
	background-color: #d9615d;
}