@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

:root {
	--main-bg-color: #bbc5f2;

	--footer-bg-color: #1d2a61;

	--login-title-color: #dbab27;
    --login-bg-color: #dbd7d5;
    --login-bg-color2: #adaaa8;
    --login-fg-color: #ffffff;
}

@keyframes animatedBackground {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: Jost;
	color: white;
	position: relative;
}

h2 {
	white-space: nowrap;
}

.container {
	background: linear-gradient(295deg, #1d2a61, #e9e3ee);
	background-size: 400% 400%;

	animation: animatedBackground 30s ease infinite;

	text-align: center;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: row;
}

footer {
	position: relative;
	clear: both;
	height: 20px;
	margin-top: -20px;
	width: 100%;

	background-color: var(--footer-bg-color);
	padding-top: 20px;
	padding-bottom: 20px;
}

.login-container {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.irms-container {
	color: black;

	display: inline-block;
	padding: 100px;
	padding-top: 50px;
	background-color: var(--login-bg-color);
}

.irms-header {
	letter-spacing: 2px;
}

.irms-header p {
	font-weight: bold;
	letter-spacing: 1px;
}

.irms-header-title {
	padding-left: 75px;
	letter-spacing: 75px;
	color: var(--login-bg-color2);
	font-weight: bold;
	margin-bottom: 40px;
}

.irms-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.irms-title p {
	font-weight: normal;
}

.irms-title > * {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.irms-title-left {
	display: block;
}

.irms-title:last-child {
	align-self: flex-end;
}

.irms-title-right h5 {
	margin-right: 2px;
}

.irms-container > * {
	margin-bottom: 20px;
}

.irms-body {
	display: flex;
	justify-content: space-between;
}

.irms-body > * {
	flex: 1;
}

.left-body {
	margin-right: 40px;
}

.right-body {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.form-entry {
	display: flex;
	margin-bottom: 20px;
	font-size: 16px;
}

.form-entry label {
	text-align: right;
	padding-right: 15px;
}

.form-entry > * {
	vertical-align: middle;
	flex: 1;
}

.noticeable-entry .form-entry {
	margin-bottom: 5px;
}

.noticeable-entry .notice {
	text-align: right;
	font-size: 10px;
	color: red;
}

.noticeable-entry {
	margin-bottom: 20px;
}

.irms-button-container {
	align-self: flex-end;
	margin-bottom: 20px;
}

input, select, textarea {
	padding: 5px 5px;
	font-family: Jost;
	font-size: 16px;
	border: none;
}

#description {
	width: 500px;
}

button {
	padding: 10px 10px;
	font-family: Jost;
	border: none;
}

button:hover {
	color: white;
	background-color: var(--login-bg-color2);
	cursor: pointer;
}

.raise-incident-container {
	text-align: left;
	padding-left: 50px;
	padding-right: 75px;
}

.view-incident-container {
	width: 80%;
	text-align: left;
}

.creation-date {
	margin-left: 10px;
}

.creation-date .irms-text {
	margin-left: 5px !important;
}

.irms-text {
	padding: 5px 10px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: white;
}

.view-incident-container .irms-body {
	flex-direction: column;
}

.view-incident-container .irms-body > * {
	margin-bottom: 15px;
}

.view-incident-container .irms-body > * .irms-header {
	margin-bottom: 5px;
}

.irms-inline-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.irms-inline-container .irms-text {
	margin-left: 10px;
}

.incident-stats {
	display: flex;
	text-align: center;
	white-space: nowrap;
}

.incident-stats > * {
	flex: 1;
	text-align: center;
}

.incident-stats > * > * {
	display: inline-flex;
	padding: 0 10px;
}

.incident-teams .irms-header, .incident-questions .irms-header, .incident-notes .irms-header {
	text-align: center;
}

.incident-questions .irms-body, .incident-notes .irms-body {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.incident-note {
	background-color: #32ad67;
}

.incident-question {
	background-color: #edbb55;
}

.incident-question, .incident-note {
	max-width: 250px;
	max-height: 250px;
	min-width: 250px;
	min-height: 250px;
	padding: 20px;
}

.incident-question:hover, .incident-note:hover {
	cursor: pointer;
}

.incident-question .irms-header, .incident-note .irms-header {
	text-align: left;
	border-bottom: 1px solid black;
}

.incident-question .irms-body, .incident-note .irms-body {
	padding-top: 10px;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
}

.incident-teams th {
	padding: 0 20px;
}

.incident-teams td {
	padding: 0 20px;
}

.incident-teams tr {
	background-color: white;
}

.incident-teams .team-name {
	width: 100%;
}

.incident-teams tr td:last-child {
	white-space: nowrap;
}

.incidents-container {
	padding: 0;
	padding-bottom: 20px;
	width: 100%;
}

.incident-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 3px;
	background-color: white;
}

.incident-item:last-child {
	align-self: flex-end;
}

.tags {
	display: flex;
	flex-direction: row;
}

.incidents-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: white;
}

.incidents-header .irms-title {
	padding: 20px;
}

.sort-options {
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-self: flex-end;
}

.sort-options > * {
	border-right: 1px solid black;
	padding: 0 15px;
}

.sort-incident:hover {
	cursor: pointer;
}

.sort-impact {
	border-left: 1px solid black;
}

.sort-by {
	background-color: #b4b5b3;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	color: white;
}

.container-body {
	position: relative;
	width: 100%;
	min-height: 100%;
}