@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

:root {
	--main-bg-color: #bbc5f2;

	--footer-bg-color: #1d2a61;

	--login-title-color: #dbab27;
    --login-bg-color: #dbd7d5;
    --login-bg-color2: #adaaa8;
    --login-fg-color: #ffffff;

    --note-new-color: #34eb6b;
    --note-bg-color: #32ad67;

    --question-new-color: #eb9c34;
    --question-bg-color: #edbb55;

    --task-new-color: #c92c26;
    --task-bg-color: #d9615d;
}

@keyframes animatedBackground {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: Jost;
	color: white;
	position: relative;
}

h2 {
	white-space: nowrap;
}

.container {
	background: linear-gradient(295deg, #1d2a61, #e9e3ee);
	background-size: 400% 400%;

	animation: animatedBackground 30s ease infinite;

	text-align: center;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: row;
}

footer {
	position: relative;
	clear: both;
	height: 20px;
	margin-top: -20px;
	width: 100%;

	background-color: var(--footer-bg-color);
	padding-top: 20px;
	padding-bottom: 20px;
}

.login-container {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.irms-container {
	color: black;

	display: inline-block;
	padding: 100px;
	padding-top: 50px;
	background-color: var(--login-bg-color);
}

.irms-header {
	letter-spacing: 2px;
}

.irms-header p {
	font-weight: bold;
	letter-spacing: 1px;
}

.irms-header-title {
	padding-left: 75px;
	letter-spacing: 75px;
	color: var(--login-bg-color2);
	font-weight: bold;
	margin-bottom: 40px;
}

.irms-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.irms-title p {
	font-weight: normal;
}

.irms-title > * {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.irms-title-left {
	display: block;
}

.irms-title:last-child {
	align-self: flex-end;
}

.irms-title-right h5 {
	margin-right: 2px;
}

.irms-container > * {
	margin-bottom: 20px;
}

.irms-body {
	display: flex;
	justify-content: space-between;
}

.irms-body > * {
	flex: 1;
}

.left-body {
	margin-right: 40px;
}

.right-body {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.form-entry {
	display: flex;
	margin-bottom: 20px;
	font-size: 16px;
}

.form-entry label {
	text-align: right;
	padding-right: 15px;
}

.form-entry > * {
	vertical-align: middle;
	flex: 1;
}

.noticeable-entry .form-entry {
	margin-bottom: 5px;
}

.noticeable-entry .notice {
	text-align: right;
	font-size: 10px;
	color: red;
}

.noticeable-entry {
	margin-bottom: 20px;
}

.irms-button-container {
	align-self: flex-end;
	margin-bottom: 20px;
}

input, select, textarea {
	padding: 5px 5px;
	font-family: Jost;
	font-size: 16px;
	border: none;
}

#description {
	width: 500px;
}

button {
	padding: 10px 10px;
	font-family: Jost;
	border: none;
}

button:hover {
	color: white;
	background-color: var(--login-bg-color2);
	cursor: pointer;
}

.raise-incident-container {
	text-align: left;
	padding-left: 50px;
	padding-right: 75px;
}

.view-incident-container {
	min-width: 80%;
	text-align: left;
}

.creation-date {
	margin-left: 10px;
}

.creation-date .irms-text {
	margin-left: 5px !important;
}

.irms-text {
	padding: 5px 10px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: white;
}

.view-incident-container .irms-body {
	flex-direction: column;
}

.view-incident-container .irms-body > * {
	margin-bottom: 15px;
}

.view-incident-container .irms-body > * .irms-header {
	margin-bottom: 5px;
}

.irms-inline-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.irms-inline-container .irms-text {
	margin-left: 10px;
}

.incident-stats {
	display: flex;
	text-align: center;
	white-space: nowrap;
}

.incident-stats > * {
	flex: 1;
	text-align: center;
}

.incident-stats > * > * {
	display: inline-flex;
	padding: 0 10px;
}

.incident-teams .irms-header, .incident-questions .irms-header, .incident-notes .irms-header, .incident-tasks .irms-header {
	text-align: center;
}

.incident-questions .irms-body, .incident-notes .irms-body, .incident-tasks .irms-body {
	display: flex;
	justify-content: flex-start space-around;
	flex-flow: row wrap;
}

.incident-note {
	background-color: var(--note-bg-color);
}

.incident-note-meta, .incident-question-meta {
	justify-content: space-between;
}

.incident-question-meta h5, .incident-note-meta h5 {
	font-size: 12px;
	letter-spacing: 0;
}

.incident-question-meta > h5, .incident-note-meta > h5 {
	align-self: flex-end;
}

.incident-question {
	background-color: var(--question-bg-color);
}

.incident-task:first-child {
	margin-left: 20px;
}

.incident-task {
	background-color: var(--task-bg-color);
	margin-right: 20px;
}

.incident-question, .incident-note {
	flex: 1;
	max-width: 250px;
	max-height: 250px;
	min-width: 250px;
	min-height: 250px;
	padding: 20px;
	border: 1px solid black;
}

.incident-task {
	padding: 0;
}

.incident-task-body {
	flex: 1;
	padding: 20px;
}

.incident-question:hover, .incident-note:hover, .incident-task:hover {
	cursor: pointer;
}

.incident-question .irms-header, .incident-note .irms-header, .incident-task .irms-header {
	text-align: left;
	border-bottom: 1px solid black;
}

.incident-question .irms-body, .incident-note .irms-body, .incident-task .irms-body {
	padding: 10px;
}

.incident-task {
	flex: 1;
}

.incident-task-meta {
	background-color: #ed9693;
	padding: 10px;
	border: 1px solid black;
	border-bottom: none;
}

.incident-task-body {
	padding: 20px;
	border: 1px solid black;
	border-top: none;
}

.teams-assigned {
	padding: 5px;
	margin-top: 5px;
	flex-wrap: wrap;
}

.teams-assigned .incident-tag {
	background-color: black;
	color: white;
	margin-left: 0;
	margin-right: 15px;
	margin-bottom: 5px;
}

.teams-assigned .incident-tag:last-child {
	margin-bottom: 0;
}

table {
	border-collapse: collapse;
	white-space: nowrap;
}

th, td {
	border: 1px solid black;
}

.incident-teams th {
	padding: 0 20px;
}

.incident-teams td {
	padding: 0 20px;
}

.incident-teams tr {
	background-color: white;
}

.incident-teams .team-name {
	width: 100%;
}

.incident-teams tr td:last-child {
	white-space: nowrap;
}

.requests-container, .incidents-container {
	padding: 0;
	padding-bottom: 20px;
	width: 100%;
}

.request-item, .incident-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 3px;
	background-color: white;
}

.request-item {
	flex-direction: column;
	justify-content: none;
}

.request-item:hover, .incident-item:hover {
	background-color: #adadad;
	cursor: pointer;
}

.request-title-container {
	justify-content: space-between;
}

.request-title-container:last-child, .incident-item:last-child {
	align-self: flex-end;
}

.request-item .request-justification {
	display: none;
	opacity: 0;
	margin-top: 15px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: left;
	padding: 10px;
	padding-bottom: 15px;
}

.request-item .request-justification h4 {
	padding-left: 10px;
}

.request-item .request-justification p {
	margin-top: 5px;
	border: 1px solid black;
	border-radius: 3px;
	padding: 10px;
}

.request-title h3 {
	margin-right: 10px;
}

.old-value {
	color: white;
	background-color: red;
	padding: 3px;
	border-radius: 3px;
}

.new-value {
	color: white;
	background-color: green;
	padding: 3px;
	border-radius: 3px;
}

.request-title > p  {
	margin: 0 15px;
	font-size: 20px;
	font-weight: 1000;
}

.tags {
	display: flex;
	flex-direction: row;
}

.requests-header, .incidents-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: white;
}

.requests-header .irms-title, .incidents-header .irms-title {
	padding: 20px;
}

.sort-options {
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-self: flex-end;
}

.sort-options > * {
	border-right: 1px solid black;
	padding: 0 15px;
}

.sort-incident:hover {
	cursor: pointer;
}

.sort-impact {
	border-left: 1px solid black;
}

.sort-by {
	background-color: #b4b5b3;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	color: white;
}

.container-body {
	position: relative;
	width: 100%;
	min-height: 100%;
}

.irms-header-actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
}

.new-question-btn {
	background-color: var(--question-bg-color);
}

.new-note-btn {
	background-color: var(--note-bg-color);
}

.add-incident-task-container {
	text-align: center;
	background-color: var(--task-new-color);
	border-radius: 30px;

	transition: background-color 0.3s linear;
}

.new-task-btn {
	vertical-align: middle;
	display: inline-block;
	background-color: var(--task-bg-color);	

	transition: background-color 0.3s linear;
}

.new-question-btn, .new-note-btn {
	position: absolute;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -24px;
    transition: background-color 0.3s linear;
}

.new-btn {
	max-width: 64px;
    max-height: 64px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.add-incident-task-container:hover {
	background-color: var(--task-bg-color);
}

.add-incident-task-container:hover, .add-incident-question:hover, .add-incident-note:hover, .add-incident-task:hover {
	cursor: pointer;
}

.add-incident-note:hover {
	background-color: var(--note-bg-color);
}

.add-incident-question:hover {
	background-color: var(--question-bg-color);
}

.add-incident-task:hover {
	background-color: var(--task-bg-color);
}

.add-incident-note:hover .new-note-btn {
	background-color: var(--note-new-color);
}

.add-incident-question:hover .new-question-btn {
	background-color: var(--question-new-color);
}

.add-incident-task-container:hover .new-task-btn {
	background-color: var(--task-new-color);
}

.add-incident-question, .add-incident-note, .add-incident-task {
	position: relative;
	transition: background-color 0.3s linear;
}

.add-incident-note {
	background-color: var(--note-new-color);
}

.add-incident-question {
	background-color: var(--question-new-color);
}

.add-incident-task {
	background-color: var(--task-new-color);
}

.assign-team-container {
	margin: 15px 0;
}

.assign-team {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
	padding: 5px 20px;
	background-color: white;
}

.assign-team-btn {
	align-self: center flex-end;
	width: 24px;
	height: 24px;
	background-color: var(--note-new-color);
	border: 1px solid black;
}

.assign-team-btn:hover {
	background-color: var(--note-bg-color);
	cursor: pointer;
	color: white;
}

.incident-assigned {
	margin-bottom: 5px !important;
}

.assign-team-fields label {
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
}

.assign-team-fields select {
	border: 1px solid black;
	padding: 0;
}

.requests-container .checkbox-container {
	margin-right: 20px;
}

.checkbox-container label {
	margin-right: 5px;
}

.request-types {
	border-left: 1px solid black;
	padding-left: 10px;
	margin-left: 20px;
}

.no-requests, .no-incidents {
	display: block;
	text-align: center;
}

.department-select-container {
	margin-right: 20px;
}