.tab, .incident-tag {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 0 5px;
	border: 1px solid black;
	border-radius: 3px;
	letter-spacing: 0;
	margin-left: 10px;
}

.incident-tag select {
	padding: 0;
}

span.pending {
	align-self: center;
	color: white;
}

.impact-1-tag, .impact-1-tag select {
	background-color: #d41932;
	color: white;	
}

.impact-2-tag, .impact-2-tag select {
	background-color: #d48620;
	color: white;
}

.impact-3-tag, .impact-3-tag select {
	background-color: #d1d420;
	color: white;
}

.priority-1-tag, .priority-1-tag select {
	background-color: #d41932;
	color: white;	
}

.priority-2-tag, .priority-2-tag select {
	background-color: #d48620;
	color: white;	
}

.priority-3-tag, .priority-3-tag select {
	background-color: #d1d420;
	color: white;
}

.severity-1-tag, .severity-1-tag select {
	background-color: #d41932;
	color: white;	
}

.severity-2-tag, .severity-2-tag select {
	background-color: #d48620;
	color: white;
}

.severity-3-tag, .severity-3-tag select {
	background-color: #d1d420;
	color: white;	
}

.identifying-tag {
	background-color: #d1d420;
	color: white;
}

.resolving-tag {
	background-color: #d48620;
	color: white;
}

.resolved-tag {
	background-color: #20d441;
	color: white;
}

.pending-tag {
	background-color: #68666b;
	color: white;
}

.follow {
	background-color: white;
	border-radius: 2px;
	align-self: flex-end;
}

.follow:hover {
	background-color: #4582d1;
	color: white;
	cursor: pointer;
}

.following {
	background-color: #4582d1;
	color: white;
}

.view-incident-btn {
	color: white;
	background-color: #807d7d;
}

.view-incident-btn:hover {
	background-color: #a8a5a5;
}

.approved-tag, .approve-btn {
	color: white;
	background-color: #148516;
}

.approve-btn:hover {
	background-color: lightgreen;
}

.denied-tag, .deny-btn {
	color: white;
	background-color: #851614;
}

.deny-btn:hover {
	background-color: red;
}

.export-csv {
	color: white;
	background-color: #f542e0;
	text-decoration: none;
}

.export-csv:hover {
	background-color: #942186;
	cursor: pointer;
}

.todo-tag {
	background-color: #42eff5;
}